.controls-container {
	background-color: rgba(125, 125, 125, 0.2);
	border-radius: 4px;
}

/* // stupid bulma overrides
html, body {
	box-sizing: initial;
	height: 100%;
}

body {
	background: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
}

.app {
	box-sizing: border-box;
} */
html {
	background: linear-gradient(45deg,#8baaaa,#ae8b9c);
	background-size: cover;
	min-height: 100%;
	overflow-y: auto !important;
}